extends layout

block content
  h1= title
  -
    let results = [
      {name: "World Cup", year: 2014, location: "Brazil"},
      {name: "Summer Olympics", year: 1948, location: "London"},
      {name: "Super Bowl XXXVI", year: 2002, location: "New Orleans"}
    ]

  div.container-fluid
    div.row
      each tournament in results
        div.col-sm-2
          h4 #{tournament.name}
          p Year: #{tournament.year}
          p Location: #{tournament.location}